
.user-details-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgb(184, 177, 165);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-details-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.user-details-container h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #555;
}

.user-details-container ul {
    list-style: none;
    padding: 0;
}

.user-details-container ul li {
    background: #f0ecec;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: large;
}

.user-details-container ul li button {
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-details-container a,
.user-details-container button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.user-details-container a:hover,
.user-details-container button:hover {
    background-color: rgb(145, 141, 136);
}
